.filter {
  width: 320px;

  .category-section {
    position: relative;
    padding-bottom: 43px;

    .category-title {
      width: 100%;
      padding-bottom: 5px;
      font-weight: 700;
      border-bottom: 1px solid #9f9ea6;
    }

    .category-nav {
      padding-top: 10px;

      .underLine {
        position: relative;

        .category-nav-list {
          display: inline-block;
          background-color: bisque;
          padding-bottom: 5px 0;
          margin: 20px 0;
          font-size: 14px;
          cursor: pointer;

          .itemCount {
            margin-left: 5px;
            font-size: 12px;
          }
        }
      }
    }
    .underLine:before {
      content: '';
      position: absolute;
      background-color: crimson;
      height: 2px;
      width: 0;
      bottom: 0;
      transition: 0.7s;
    }
    .underLine:hover:before {
      width: 100%;
    }
  }
}
