@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #222222;

  .main_contents {
    width: 1440px;

    .main_header {
      .header_titles {
        display: flex;
        padding-bottom: 18px;

        .header_title {
          font-size: 36px;
          font-weight: 700;
          padding-right: 5px;
        }
        .header_title_itemCount {
          font-size: 12px;
          font-weight: 300;
        }
      }

      .header_categories {
        display: flex;
        font-size: 14px;

        .header_category {
          cursor: pointer;
          margin-right: 4px;
          cursor: pointer;
        }

        .header_category:hover {
          text-decoration: underline;
          text-decoration-color: #fdcf40;
        }
        .header_category_name {
          padding-left: 3px;
          color: #9f9e9e;
        }
      }

      .filter_status {
        display: flex;
        padding: 43px 0;
        align-items: center;
        cursor: pointer;

        .filter_status_icon {
          width: 22px;
          opacity: 0.8;
        }
        .filter_status_button {
          margin-left: 5px;
          padding-bottom: 1px;
          font-weight: 700;
          border-bottom: 2px solid #222222;
        }
      }
    }
    .main_section {
      display: flex;

      .productList {
        width: 100%;
        background-color: #9f9e9e;
        padding-left: 10px;
      }
    }
  }
}
