@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../../styles/common.scss';

.Nav {
  width: 100%;
  height: 70px;
  border-bottom: #eeeeee 1px solid;
  display: flex;
  justify-content: center;
  color: #222222;
  font-weight: 700;

  .nav_menu {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      flex: 1;
      .leader_logo_image {
        height: 33px;
        padding-right: 35px;
        cursor: pointer;
      }
    }

    .header_shop_nav {
      flex: 10;
      display: flex;

      li {
        position: relative;
        margin: 0 35px;
        font-family: 'Roboto', sans-serif;
        line-height: 70px;
        cursor: pointer;

        .header_sub_nav {
          display: none;
        }

        &:hover .header_sub_nav {
          display: flex;
          align-items: center;
          position: absolute;
          background-color: #222222;
          color: white;
          height: 70px;
          top: 100%;
          z-index: 2;
        }
      }

      li:before {
        content: '';
        position: absolute; /*부모 요소에는 position: relative를 주어야 한다.*/
        background-color: #fdcf41;
        height: 4px; /*밑줄 굵기*/
        width: 0; /*초기에 보이지 않도록*/
        bottom: 20px; /*a태그 아래에 위치시키기*/
        transition: 0.3s; /*애니메이션 동작 실행 시간 정의*/
      }

      li:hover:before {
        width: 100%;
      }
    }

    .header_user_nav {
      flex: 4;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      position: relative;

      .header_search,
      .heder_alert,
      .header_cart,
      .header_user {
        img {
          width: 24px;
          transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }

      .header_search,
      .heder_alert,
      .header_cart,
      .header_user {
        img:hover {
          width: 24px;
          filter: opacity(0.5) drop-shadow(0 0 0 #fdcf41);
        }
      }

      .header_login,
      .header_signUp {
        transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .header_login:hover,
      .header_signUp:hover {
        color: #fdcf41;
      }

      .header_alert {
        position: relative;

        .dotAlert {
          background-color: #e3352c;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          right: -1px;
          top: -4px;
        }
      }

      .header_cart {
        position: relative;

        .dotAlert {
          background-color: #e3352c;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          right: -2px;
          top: -4px;
        }
      }

      .header_user {
        position: relative;
        height: 70px;
        display: flex;
        align-items: center;

        .user_subMenu {
          display: none;
          position: absolute;
          padding: 20px;
          width: 100px;
          top: 100%;
          right: 50%;
          transform: translate(50%);
          border: 1px solid #eeeeee;
          background-color: white;

          li {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 16px;
            transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .user_subMenu_logOut {
            margin-bottom: 0;
          }

          li:hover {
            color: #fdcf41;
          }
        }
        &:hover .user_subMenu {
          display: block;
          z-index: 2;
        }
      }
    }
  }

  .serchBar_section {
    width: 100%;
    position: absolute;
    margin-top: 70px;

    .serchBar_form {
      padding-top: 10px;
      margin: 0 auto;
      width: 1440px;
      height: 50px;
      padding-top: 8px;
      position: relative;

      .serchBar_input {
        width: 100%;
        height: 38px;
        border: none;
        outline: none;
        padding-left: 35px;
        border-bottom: 2px solid #222222;
      }
      .serchBar_icon {
        position: absolute;
        left: 5px;
        top: 14px;
        font-weight: 400;
        opacity: 0.5;
        width: 22px;
      }
    }
  }
}
